*{
	margin: 0px;
	padding: 0px;
	font-family: 'Lucida Grande','微软雅黑';
              font-size:12px;
	list-style:none;border:0;
}
img{
	border: 0px;
}
body{
	/*height: 3000px;*/
	background-color: #fff;
             width:1348px;
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
    }
a{
	text-decoration: none;
}


