.cols div{
	border-bottom: 1px solid #E6E6E6;
}
.g1_1,.g5_1,.g2_2{
	height: 287px !important;
	height: 286px;

}
.g1_2,.g2_1,.g3_1,.g3_2,.g3_3,.g4_1,.g4_2,.g4_3,.g5_2{
	height: 143px;
}
.g1_1 img,.g2_2 img,.g5_1 img,.g4_3 img,.g5_2 img{
	margin-top: 10px;
}
.g1_2 img,.g2_1 img,.g3_1 img,.g3_2 img,.g3_3 img,.g4_1 img,.g4_2 img{
	margin-top: 35px;
	margin-bottom: 20px;
}
.cols div p{
	height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9A9696;
}
.adv img{
	width: 940px;
	height: 90px;
	display: block;
}
.adv{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}
.f1{
    border-bottom: 1px solid #E5E5E5;
    clear: both;
    height: 358px;
    margin-bottom: 10px;
    overflow: hidden;
    width:101%;
    margin-left: -10px;
}
.f_head{
	border-bottom: 2px solid #000000;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
}

.f1 .f_head span{
	display: inline-block;
    height: 36px;
    float: left;
    width: 120px;
}
.f1 .f1_head span{
	background-position: 10px -4px;
	 background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
}
.f1 .f2_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -33px;}
.f1 .f3_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -62px;
}
.f1 .f4_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -92px;
}
.f1 .f5_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -120px;
}
.f1 .f6_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -148px;
}
.f1 .f7_head span{
	background: url("../img/ff.png") no-repeat scroll 0 0 transparent;
	background-position: 10px -177px;
}

.f1 .f_head ul,.f1 .f_head ul li,.f1 .f_head ul li a{
    list-style: none;
    text-decoration: none;
}
.f1 .f_head ul li a{
	border-right: 1px solid #DFDFDF;
    color: #929292;
    padding: 0 10px;
}
.f1 .f_head ul li .flast{
	border-right:0px;
}
.f1 .f_head ul li{
	float: left;
}
.f1 .f_head ul{
	margin-top: 10px;
	float: right;
}
.flogo{
	width:110px;
	height: 100%;
	float: left;
	overflow: hidden;
}
.ffirst{
	width: 200px;
	height: 320px;
	float: left;
}
.fother{
	float: left;
	height: 320px;
	margin-left: 10px;
	text-align: center;
}
.fother img{
	width: 200px;
	height: 300px;
	margin-top: 10px;
}
.flogo .ful1 li{
	float: left;
}
.flogo .ful1{
	height: 300px;
	overflow: hidden;
	width: auto;
}
.flogo .ful1 li a{
	border-bottom: 1px solid #F2F2F2;
    color: #666666;
    display: block;
    height: 59px;
    line-height: 59px;
    overflow: hidden;
    text-align: center;
    width: 120px;
}
.flogo .ful1 li a img{
	margin-top: 10px;
}
.flogo .ful2{
	margin-left: 30px;
	margin-top: -15px;
}
.flogo .ful2 li{
	list-style: none;
	float: left;
	margin-left: 5px;
	font-size: 30px;
}
.fmore{
	line-height: 59px;
	color: #666;
}
.f1 .f_head ul li .goods_top_right{
	border-right: none;
}

