.agform{
    height:100px;
    width:500px;
    margin: 20px auto;
}
.agform table{
    height:auto;
    width:500px;
}
.agform table tr td{
    height:50px;
    line-height: 50px;
    border-bottom: 1px dashed #ccc;
}
.put{
    width:200px;
}
.ega{
    display:block;
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
.more{
    color:red;
    font-weight: bold;
    cursor: pointer;
}
.more:hover{
    color:blue;
}
#textarea{
    height:100px;
    width: 300px;
    border-color: #009A61;
}
.add_cate{
    font-weight: bolder;
    color:blue;
    cursor:pointer;
}
.cate_del{
    font-weight: bolder;
    color:red;
    cursor:pointer;
}
