.guid{
    width:100%;
    height:30px !important;
    height:40px;
    margin-top: 10px;
    overflow: hidden;
}
.guid li{
     background-color: #009A61;
     height:30px;
     line-height: 30px;
     margin-left: 5px;
     float: left;
     padding-left: 20px;
     padding-right: 20px;
     color:#fff;
     font-weight: bold;
     cursor: pointer;
}
.guid li:hover{
    color:red;
    background-color: #eee;
}
.button{
    border: 0px;
    background-color: #2DB482;
    color:#fff;
    font-weight: bold;
}
input{
    height:20px;
}
.tb{
    width:50%;
    height:auto;
    margin: 20px auto;
}
.tb tr{
    padding: 15px;
    margin: 10px;
    height:50px;
    border-bottom: 1px dashed #ccc;   
}
.tb tr td{
    padding-left: 20px;
}
.tname{
    width: 100px;
    text-align: center;
}
.form{
    width:100%;
    height:auto;
}
.innerbox{
    height:auto;
    width:100%;
    display: none;
}
.edit{
    height:auto;
}
.ed{
    width:80%;
}
.tfont{
    font-size: 15px;
    font-weight: bold;
}