.guid{
    width:100%;
    height:30px !important;
    height:40px;
    margin-top: 10px;
    overflow: hidden;
}
.guid li{
     background-color: #4CA3D7;
     height:30px;
     line-height: 30px;
     margin-left: 5px;
     float: left;
     padding-left: 20px;
     padding-right: 20px;
     color:#F5F5F5; 
     cursor: pointer;
}
.guid li:hover{
    color:red;
    background-color: #eee;
}
.button{
    border: 0px;
    background-color: #2DB482;
    color:#fff;
    font-weight: bold;
}
input{
    height:20px;
}
.tb{
    width:300px;
    height:auto;
    margin: 20px auto;
    margin-left: 100px;
}
.tb tr{
    padding: 15px;
    margin: 10px;
    height:40px;  
}

.tname{
    width: 100px;
    text-align: center;
}
.form{
    width:100%;
    height:100%;
    position: relative;
}
.innerbox{
    height:auto;
    width:100%;
    display:none;
}
.edit{
    height:auto;
}
.ed{
    width:80%;
}
.tfont,.ifont{
    font-size: 15px;
    font-weight: bold;
    
}
.addattr{
    color:red;
    cursor:pointer;
    font-weight: bold;
    width:30px;
    padding-left: 0px;
}
.delattr{
    color:blue;
    cursor:pointer;
    font-weight: bold;
    width:30px;
    padding-left: 0px;
}
.show_cate{
    position: absolute;
    overflow: auto;
    width: 550px;
    height: 270px;
    margin-left: 250px;
    margin-top: -150px;
}
.select_char{
    height: auto;
    width: 150px;
    font-size: 12px;
    color:#A5A5A2;
    cursor: pointer;
    padding: 5px 5px;
}
.c4{
    display: inline-block;
    margin-right: 10px;
}
.c1{
    color:#fff;
    background-color: #4CA3D7;
    padding: 0px 4px;
    display: inline-block;
    margin-bottom: 5px;
}
.c2{
    color:#fff;
    background-color: #669533;
    padding: 0px 4px;
    display: inline-block;
    margin-bottom: 5px;
}
.c3{
    color:#fff;
    background-color: #999999;
    padding: 0px 4px;
    display: inline-block;
    margin-bottom: 5px;
}
.c4{
    color:#fff;
    background-color: #FAA571;
    padding: 0px 4px;
    display: inline-block;
    margin-bottom: 5px;
}
.ul1{
    margin-left: 20px;
}
.show_status{
    color:#000;
    font-weight: bolder;    
}
.catename{
    cursor: pointer;
}
.cateid{
    display: none;   
}
.cateval{
    line-height: 14px;
    color:#fff;
    background-color: #DB1F26;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);   
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;
    behavior: url(http://localhost/thinkmao/Public/Common/css/ie-css3.htc);
}
.brandval{
     line-height: 14px;
    color:#fff;
    background-color: blue;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);   
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;  
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDBDBD,direction=120,strength=4); 
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(color=#BDBDBD,direction=120,strength=4);
    behavior: url(http://localhost/thinkmao/Public/Common/css/ie-css3.htc);
}
#brand_div,#type_div{
    display: none;
    position: absolute;
    width: 30px;
    height: auto;
    padding-bottom: 10px;
    margin-left: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);   
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #BDBDBD;
     filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDBDBD,direction=120,strength=4); 
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(color=#BDBDBD,direction=120,strength=4);
    behavior: url(http://localhost/thinkmao/Public/Common/css/ie-css3.htc);
    
}
.bvalue{
    margin-left: 15px;
    margin-top:10px;
    cursor: pointer;
}
.typebu{
    margin-right: 10px;
    cursor: pointer;
}
#head_type{
    width: 400px;
}

.linum{
    padding: 7px 22px;
    text-align: center;
    width: 24px;
}