.channel_list{
    width:100%;
}
.list_td_img{
    width: 10%;
}
.td_price{
    width: 8%;
}
.good_id{
    width:10%;
}
.channel_list tr td{
    text-align: center;
}
.channel_list tbody tr .c_title{
    text-align: left;
}
.channel_list thead{
    /*background-color: #009A61;*/
    background-color: #41A1D9;
    color: #fff;
    font-weight: bolder;
}
.mod{    
    width: 18%;
}

tbody tr td{
   border-bottom: 1px solid #ccc;
   padding: 5px;
}
.addtop .icon-trash{
    background-position:0 -95px;
}
.page *{
    display:inline-block;
    float: left;
    margin-left: 10px;
    padding: 3px 5px;
    background-color: #F2F2F2;
    line-height: 20px;
}
 .page{
    height:20px !important;
    height:50px;
    width: auto;
    overflow: hidden;
    line-height: 20px;
    margin-top: 30px;
}
.page .selfpage{
    font-weight: bolder;
    color:blue;
}
.page a{
    color:#009A61;
}

