.channel_list{
    width:100%;
}
.list_td_img{
    width: 10%;
}
.td_price{
    width: 8%;
}
.good_id{
    width:10%;
}
.channel_list tr td{
    text-align: center;
}
.channel_list tbody tr .c_title{
    text-align: left;
    cursor: pointer;
}
.channel_list thead{
    /*background-color: #009A61;*/
    background-color: #41A1D9;
    color: #fff;
    font-weight: bolder;
}
.channel_list thead tr td{
    color:#fff;
}
.mod{    
    width: 18%;
}

tbody tr td{
   border-bottom: 1px solid #ccc;
   padding: 5px;
}
.addtop .icon-trash{
    background-position:0 -95px;
}
.catep{
    background-image: url('../img/opa-icons-blue32.png');
    background-position: -42px -10px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;   
    width: 10px;
    cursor: pointer;
}

