.channel_list{
    width:100%;
}
.channel_list tr td{
    text-align: center;
}
.channel_list tbody tr .c_title{
    text-align: left;
}
.channel_list thead{
    background-color: #009A61;
    color: #fff;
    font-weight: bolder;
}
.mod{
    width:400px;

}
.mod a{
    color:#0F39D9;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}
tbody tr td{
   border-bottom: 1px solid #ccc;
   padding: 5px;
}
.addtop{
    display: inline-block;
    height:25px;
    width:100px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #009A61;
    float: right;
}
.page *{
    display:inline-block;
    float: left;
    margin-left: 10px;
    padding: 3px 5px;
    background-color: #F2F2F2;
    line-height: 20px;
}
 .page{
    height:20px !important;
    height:50px;
    width: auto;
    overflow: hidden;
    line-height: 20px;
    margin-top: 30px;
}
.page .selfpage{
    font-weight: bolder;
    color:blue;
}
.page a{
    color:#009A61;
}

