.list_img{
    height:40px;
}
.gname{
    width: 20%;
    overflow: hidden;
}
.good_id{
    width:10%;
}
#gsbu{
    width: 200px;
    float: right;     
}
.add{
    height:15px;
    padding: 3px 0px;
    margin-bottom: -2px;
    background-color: #eee;
    cursor: pointer;
}
.adde{
    height:25px;
    padding: 3px 0px;
    margin-bottom: -2px;
    background-color: #eee;
    cursor: pointer;
}
.ldel{
    font-weight: bold;
    color:red;
    cursor: pointer;
}
#gnum{
    width: 22%;
    text-align: left;
}
.series1{
    height:20px;
    border: 0px;
    background-color:red;
    color:#fff;
}
.series0{
    height:20px;
    border: 0px;
    background-color:blue;
}
input{
    width:80px;
}
.turnoff{
    float: left;
    display: inline-block;
    margin-top: -25px;
}