body{
    background-color:#eee;
}
.login{
    height:300px;
    width:500px;
    background-color: #fff;
    margin: 300px auto;
    padding-top: 50px;
}
.login table{
    width:300px;
    height:auto;
    margin:20px auto;
    background-color: #0055FF;
    height:200px;
}
.lfont{
    color:#fff;
    font-weight: bold;
}
input{
    border: 0px;
}
