body{
    background-color:#fff;
}
.login{
    height:300px;
    width:500px;
    background-color: #fff;
    margin: 100px auto;
    padding-top: 50px;
    border: 10px solid #eee;
}
.login table{
    width:300px;
    height:auto;
    margin:20px auto;
    background-color: #0055FF;
    height:200px;
    padding-left: 20px;
    padding-top: 20px;
}
.lfont{
    color:#fff;
    font-weight: bold;
}
input{
    border: 0px;
}
.submit{
    height:20px;
    width:50px;
    border:0px;
    color:#fff;
    background-color:red;
    font-weight: bolder;
}

