*{
	margin: 0px;
	padding: 0px;
	font: 12px/1.5 'Lucida Grande',tahoma,arial,宋体;
	list-style:none;border:0;
}
img{
	border: 0px;
}
body{
	height: 3000px;
	background-color: #fff;
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
    }
a{
	text-decoration: none;
}


