.by11{
    height:auto;
    width: 100%;
    text-align: center;
}
.by2{
    height: auto;
    width: 870px;
    text-align: left;
    margin-left: 320px; 
}
.mall {    
    position: relative;
    text-align: left;
    height: 150px;
}
.mall:after {
    clear: both;  
    display: block;
    height: 0;
}
.mall dl {
    border-right: 1px dotted #E6E6E6;
    float: left;
    height: 120px;
    padding-left:50px;
    padding-right: 15px;
    width: 100px !important;
    width: 165px;
}
.mall dl#payment {
    border-left: 1px dotted #E6E6E6;
    margin-left: 190px;
}
.mall dl #seller {
    border-right: medium none;
    float: right;
}
.mall dl dt span {
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    padding-bottom: 4px;
    width: 90px;
    height: 27px;
    line-height: 27px;
}
.mall dl #seller dt {
    margin-right: 0;
}
.mall dl a, .mall dl dd span {
    color: #666666;
    display: block;
    height: 22px;
    line-height: 1.8;
    white-space: nowrap;
}
.mall dl i {
    background-position: 2px -88px;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: text-bottom;
    width: 12px;
}
.mall .other {
    border-right: 1px dotted #E6E6E6;
    height: 120px;
    left: 50%;
    margin-left: -95px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 190px;
}
.mall .go-home {
    background-image: url("../img/TM.png");
    background-position: -11px -6px;
    height: 100px;
    left: 50%;   
    margin-left: -60px;
    overflow: hidden;
    position: absolute; 
    width: 100px;   
}
.mall .go-home a {
    display: block;
}
.mall .other a {
    color: #666666;
}
.end {
    background-color: #FFF;
    background-repeat: repeat-x;
    clear: both;
    margin: 10px auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 550px;
}
.end .footer-fb {
    color: #666666;
    left: 50%;
    margin-left: -55px;
    position: absolute;
    top: 100px;
    *top:200px;
}
.end p {
    color: #C3C3C3;
    padding: 5px 0;
}
.end p a {
    color: #C3C3C3;
    margin-right: 3px;
}
.end .end-t.mallinfo, .end .end-otherlink, .end .end-t.mallinfo a, .end .end-otherlink a {
    color: #616161;
}
#ensure dt span {
    background-position: 0 0;
}
#beginner dt span {
    background-position: 0 -20px;
}
#payment dt span {
    background-position: 0 -40px;
}
#seller dt span {
    background-position: 0 -60px;
}
.mall i, .mall .go-home {
    background: url("../img/TM.png") no-repeat scroll 0 0 transparent;   
}
.foot_tu{
    background:url("../img/end.jpg") no-repeat center top;
    width: 100%; 
    height: 204px;
}
#seller{
    border-right: none;
}

