/* 
    Document   : endgoods
    Created on : 2013-1-5, 0:55:37
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
.end{
    width:100%;   
}
.end .mall{
    margin-top: 100px;
}
.mall dl{
    margin-left: 100px;
}
.end .mall #payment{
    margin-left: 260px;
}

