*{
    margin: 0px;
    padding:0px;
    list-style: none;
    font: 12px/1.5 tahoma,arial,宋体;
}
#header {
    background: none repeat scroll 0 0 #B20000;
    height: 80px;
    margin-bottom: 0;
    width: 100%;
}
#header-inner {
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
#header .logo {
    margin-left: 50px;
    padding-top: 30px;
}
.mid_con{
    width:100%;
    height:auto;
    text-align: center;
}
.mid{
    width:990px;
    height:415px !important;
    /*margin-top: 49px;*/
    text-align: left;
    margin: 49px auto;
}
.mid_tu{
    height:286px;
    width:508px;
    display: inline-block;
    text-align: center;
    float: left;
}
.login{
    height:334px;
    width:325px;
    float: left;
    background: url("../img/T1O.q5XdVqXXXXXXXX-70-20.png") no-repeat scroll 60% 0 transparent;
    padding-top: 20px;
}
.form_login{
    width:321px;
    height:262px ;
    padding:1px;
    border: 1px solid #CACACA;
}
.inner{
    width:315px;
    height:256px;
    border:3px solid #F5F5F5;
    background-color: #FAFAFA;
}
.title_login{
    width:330px;
    height:auto;
    padding-top:20px;
    position: relative;
}
.title_login span{
    font-size: 14px;
    font-weight: bold;
    left: 24px;
    position: absolute;
    top: 20px;
}
.form{
    text-align: center;
    margin-top: 30px;
    height:auto;
    width: 100%;
}
.table{
    width: 100%;
    height: 70px;
}
.input{
    border: 1px solid #C8C8C8;
    height: 22px;
    line-height: 22px;
    margin-right: 30px;
    padding: 3px;
    vertical-align: middle;
    width: 180px;
    margin-left:10px;
}
.filed{
    text-align: right;
}
.put_in{
    width:230px;
}
.checkbox{
    height:30px;
    width: 100%;
    padding-left: 95px;
}
.cb{
    display: inline-block;
    margin-top: 5px;
    height:30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
.co{
    color: #AAAAAA;
}
.submit{
    width:280px;
    height:27px;
    margin-top: 20px;
    margin: 20px auto;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 30px;
}
.submit button{
    background-image: url("../img/stuff-tmall.png");
    background-position: 0 -100px;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 27px;
    line-height: 100px;
    margin-left: -36px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 86px;
}
.bottom{
    width:225px !important;
    width:279px;
    height:18px !important;
    height: 30px;
     margin-top: -10px;
    padding-left: 54px;
}
.bottom a{
    float: left;
    text-decoration: none;
    color:#666666;
}
.last{
    margin-left: -5px;
    margin-top: 5px;
}
.hr{
    color:#eee;
}