*{
    margin: 0px;
    padding:0px;
    list-style: none;
    font: 14px/20px 微软雅黑;
    color:#555555;
}
a{
    text-decoration: none;
}
.ititle {
height: 40px;
width: 100%;
border-bottom: 2px solid #009A61;
line-height: 40px;
text-align: left;
text-indent: 2em;
font-size: 20px;
font-weight: bolder;
}
.ahead{
    height:30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
}
input,.inputstyle{
  background-color: #ffffff;
  border: 1px solid #cccccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 2px 4px;
    height:20px;
}
.gsubmit{
    width:60px;
    height:25px;
    font-size: 13px;
    line-height: 10px;   
    text-align: center;
    cursor: pointer;
}
.upload-img img{
    height:100px;
    width:100px;
}
.upload-img{
    border: 1px solid #ccc;
    height:120px !important;

}
*{
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
.btn {
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;
    color:#fff;
    margin-right: 10px;
    padding-left:5px;
    padding-right: 5px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(5%, #ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 5%, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 5%, #ffffff);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 5%, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff 5%, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff 5%, #ffffff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  background-position: 0 0;
}
.btn-info {
  background-color: #9e6ab8;
  background-image: -moz-linear-gradient(top, #a271bb, #9760b3);
  background-image: -ms-linear-gradient(top, #a271bb, #9760b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a271bb), to(#9760b3));
  background-image: -webkit-linear-gradient(top, #a271bb, #9760b3);
  background-image: -o-linear-gradient(top, #a271bb, #9760b3);
  background-image: linear-gradient(top, #a271bb, #9760b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a271bb', endColorstr='#9760b3', GradientType=0);
  border-color: #9760b3 #9760b3 #6f4086;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #9760b3;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #9760b3;
  *background-color: #8b51a9;
}
.btn-info:active,
.btn-info.active {
  background-color: #7d4898 \9;
}
.btn-success {
 background-color: #7bb33d;
  background-image: -moz-linear-gradient(top, #80bb3f, #73a839);
  background-image: -ms-linear-gradient(top, #80bb3f, #73a839);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80bb3f), to(#73a839));
  background-image: -webkit-linear-gradient(top, #80bb3f, #73a839);
  background-image: -o-linear-gradient(top, #80bb3f, #73a839);
  background-image: linear-gradient(top, #80bb3f, #73a839);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80bb3f', endColorstr='#73a839', GradientType=0);
  border-color: #73a839 #73a839 #4c6f26;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #73a839;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #73a839;
  *background-color: #669533;
}
.btn-success:active,
.btn-success.active {
  background-color: #59822c \9;
}
.btn-warning {
  background-color: #ec5c00;
  
}

.btn-danger {
  background-color: #d41e24;
  background-image: -moz-linear-gradient(top, #dd1f26, #c71c22);
  background-image: -ms-linear-gradient(top, #dd1f26, #c71c22);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd1f26), to(#c71c22));
  background-image: -webkit-linear-gradient(top, #dd1f26, #c71c22);
  background-image: -o-linear-gradient(top, #dd1f26, #c71c22);
  background-image: linear-gradient(top, #dd1f26, #c71c22);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd1f26', endColorstr='#c71c22', GradientType=0);
  border-color: #c71c22 #c71c22 #841317;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c71c22;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #c71c22;
  *background-color: #b1191e;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #9a161a \9;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-white {
    display: inline-block;
    margin-top: 3px;
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-trash {
  background-position: -456px 0;
}
i[class^="icon-"] {
  opacity: 0.8;
}
.number{
    width: 10%;
}
.ID{
    width: 5%;
}
.rudio{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #BDBDBD;
}
.catename,.setype{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);   
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;
}
.btn-primary {
    color:#fff;
  background-color: #43a1da;
  background-image: -moz-linear-gradient(top, #4ba6db, #369bd7);
  background-image: -ms-linear-gradient(top, #4ba6db, #369bd7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba6db), to(#369bd7));
  background-image: -webkit-linear-gradient(top, #4ba6db, #369bd7);
  background-image: -o-linear-gradient(top, #4ba6db, #369bd7);
  background-image: linear-gradient(top, #4ba6db, #369bd7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba6db', endColorstr='#369bd7', GradientType=0);
  border-color: #369bd7 #369bd7 #2071a1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #369bd7;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #369bd7;
  *background-color: #288ecb;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2480b6 \9;
}
.endform{
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    position: absolute;
}
.butage{
    background:url("../img/off.jpg") no-repeat;
    width:97px;
    height:27px;
}
.page *{
    display: inline-block;   
}
.page{
     color:#2071AF;
     margin-top: 20px;
     float: right;
     margin-right: 30px;
}
.page a{
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;
    background-color: #fff;
    color:#36B2E5;
    margin-right: 5px;
}
.current{
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BDBDBD;
    background-color: #F5F5F5;
    color:#2071AC;
    margin-right: 5px;
}
.attrtype li,.catelist li{
    display: inline-block;
    padding: 7px;
    color:#369BD7;
    cursor: pointer;
    border-right: 1px solid #DDDDDD;
}
.attrtype,.catelist{
 margin: 0px auto;
 width: 94px;
 border: 1px solid #DDDDDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.catenum{
    padding: 7px 22px;
    text-align: center;
    width: 24px;
}


